<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Raunak Gupta</title>
    <link rel="stylesheet" href="/portfolio/styles.css">
    <link rel="icon" href="/portfolio/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Sacramento&display=swap"
        rel="stylesheet" </head> <body>
    <div class="top-container">

        <form action="/">
            <button class="btn btn-success home" type="submit">Home</button>
        </form>


        <img class="c1" src="/portfolio/cloud.png" alt="">
        <h1>I am Raunak</h1>
        <h2>a programmer</h2>
        <img class="c2" src="/portfolio/cloud.png" alt="">
        <img class="m1" src="/portfolio/mountain.png" alt="">

    </div>
    <hr class="dots">
    <div class="middle-container">
        <div class="profile">
            <img class="propic" src="/portfolio/1652867565827-modified.png" alt="">
            <h2>Hello.</h2>
            <p class="intro">
                I am a competitive programmer, web developer, and a Student Guide.
            </p>
        </div>
        <hr>
        <div class="skills">
            <h2>Skills and Achievements</h2>
            <div class="skill-row">
                <img class="comp" src="/portfolio/computer.png" alt="">
                <h3>Skills</h3>
                <p class="skillpara1">
                    <strong>Languages :</strong>
                    C , C++ , HTML , Javascript , CSS
                </p>
                <p>
                    <strong>Frameworks :</strong>
                    Bootstrap , jQuery , Node.js , Express.js , Git , EJS
                </p>

                <p>
                    <strong>Area of Interests :</strong>
                    Data Structures , Algorithms , Competitive Programming , Web Development
                </p>

            </div>
            <div class="skill-row">
                <img class="chill" src="/portfolio/achievement-pic.jpg" alt="">
                <h3>Achievements</h3>
                <div class="achieve">
                    <ul>
                        <li>Specialist (rating 1424) , on Codeforces ( Handle : Raunik )</li>
                        <li>4 star (highest rating 1869) , on Codechef ( Handle :raunik2) </li>
                        <li>Secured a global rank of 232 in Codechef March Cook-Off 2022 Division 2</li>
                        <li>Among top 0.71 % in JEE Mains(2020) among 1.1 Million+ Candidates</li>
                        <li> Secured All India Rank of 5525 in JEE Advanced(2020) out of 1.5 Lakh+ candidate</li>
                    </ul>
                </div>

            </div>
        </div>
        <hr>
        <div class="contactme">
            <h2>Get In Touch</h2>
            <h3>You can contact me by email.</h3>
            <p class="contact-message">I am currently a pre-final year student at the Indian Institute of Technology (BHU) Varanasi, majoring in Mechanical Engineering.</p>
            <a class="btn" href="mailto:raunikgl@gmail.com">CONTACT ME</a>
        </div>
    </div>


    <div class="bottom-container">
        <a class="footer-link" href=https://www.linkedin.com/in/raunak-gupta-957302219/">LinkedIn </a> <a <a
            class="footer-link" href="https://github.com/Raunik2">Github</a>
        <p class="copyright-message">© Raunak Gupta.</p>
    </div>



    </body>

</html>