<%- include('partials/header') %>

<div class="contacts">
    <div>
        <b>Email</b>
        <a href=""></a>
    </div>
    <div>
        <b>LinkedIn</b>
        <a href="">LinkedIn</a>
    </div>
    <div>
        <b>Github</b>
        <a href="">Github</a>
    </div>
</div>


<%- include('partials/footer') %>